<div class="span6">
    Add meal to your order:
    <select ng-model="selectedMenuItem" ng-options="item as item.name for item in menu.meals">
        <option value="">Select Items</option>
    </select>
    <a ng-click="addItem(selectedMenuItem, currentOrder.meals)" class="btn btn-small">add item</a>

    <div ng-repeat="(key, value) in currentOrder.meals | groupBy: 'type'">
        <span> Group name: {{ key }}</span>

        <ul>
            <div ng-repeat="chosen in value">
                <li>
                    {{chosen.name}}
                    <span><input type="number"  ng-model="chosen.amount"/></span>
                    <a ng-click="deleteItem($index, currentOrder.meals)" class="btn btn-small">delete item</a>
                </li>
            </div>
        </ul>
    </div>
    <br/>
    <a ng-click="sendOrder()" class="btn btn-small">send order</a>
    <a ng-click="removeOrder()" class="btn btn-small">delete order</a>
</div>
