<div class="container">
    <h1>Change password</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputPassword">New password:</label>

            <div class="controls">
                <input type="text" id="inputPassword" ng-model="password" placeholder="Password"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="updatePassword()" class="btn btn-small btn-primary">update password</a>
            </div>
        </div>
    </form>
</div>
